.address-item{
    border-radius: 4px;
    padding: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.address-row{
    display: flex;
    align-items: center;
}

.address-content{
    width: 85%;
}

.address-icon{
    width: 40px;
    margin-right: 10px;
}

.address-icon img{
    width: 100%;
}


.address-card{
    margin: 0 15px 15px;
    border-radius: 4px;
}

.address-name{
    margin: 0 5px 0 0;
    font-size: 16px;
    font-family: 'Panton Medium';
    line-height: 22px;
}

.address-item .address{
    color: #818C99;
    font-family: 'Panton Medium';
    line-height: 22px;
}

.address-amount{
    color: #792EC0;
}
.address-network{
    color: #818C99;
    line-height: 22px;
    text-transform: uppercase;
}

.active-address,.active-address:hover .address-item{
    background-color: #792EC0;
}
.active-address .address-name{
    color: #fff;
}

.active-address .address, .active-address .address-network{
    color: #A393F5;
}

.address-item:hover{
    background-color: #E8E8E8;
    border-radius: 4px;
}