.amount-token-container{
    background: #F7F8FA;
    position: relative;
    border: 1px solid #D3D9DE;
    border-radius: 6px;
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

.token-amount-grey{
    color: #6F7985;
    margin-left: 5px;
}