.token-item{
    border-radius: 4px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.token-card{
    margin: 0 15px 15px;
    border-radius: 4px;
}

.token-icon{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.token-icon img{
    width: 30px;
    height: 30px;
}

.token-name{
    font-size: 16px;
    font-family: 'Panton Medium';
}

.token-amount-block{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.token-amount-block p{
    color: #792EC0;
    font-family: 'Panton Bold';
    font-size: 16px;
    margin-right: 5px;
}

.token-amount-block span{
    color: #818C99;
    font-family: 'Panton';
    font-size: 16px;
}

.token-item:hover{
    background-color: #792EC0;
}

.token-item:hover .token-name, .token-item:hover .token-amount-block p{
    color: white;
}

.token-item:hover .token-amount-block span{
    color: #A393F5;
}

.token-item:hover .token-icon{
    background-color: #fff;
    border-radius: 50%;
}