.token-img{
    width: 30px;
    margin-right: 10px;
}
.token-row{
    display: flex;
    align-items: center;
}

.token-container{
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    border-radius: 6px;
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.token-name{
    font-family: Panton;
}

.right-arrow{
    position: absolute;
    right: 20px;
}