.token-item{
    border-radius: 4px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.token-card{
    margin: 0 15px 15px;
    border-radius: 4px;
}

.token-icon{
    margin-right: 10px;
}
.token-icon img{
    width: 30px;
    height: 30px;
}

.token-name{
    font-size: 16px;
    font-family: 'Panton Medium';
}