.transactions-item{
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 6px;
}
.transactions-row{
    display: flex;
    align-items: center;
}

.transactions-row p{
    margin: 3px;
}

.transactions-row h5{
    margin: 3px;
    text-transform: capitalize;
}
.transactions-column-1{
    width: 50%;
}
.transactions-column-2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gray-text{
    color: #818C99;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

.transactions-amount{
    font-size: 17px;
    font-family: 'Panton Bold';
}
.transactions-amount-send{
    color: #4BB34B;
}
.transactions-amount-error{
    color: #E64646;
}
.transactions-amount-stake{
    color: #67A5EB;
}
.transactions-net{
    font-size: 16px;
    font-weight: 500;
}

.transactions-fee,.transactions-details-fee{
    color: #67A5EB;
}
.transaction-type-img{
    margin: 10px;
}

.transactions-item:hover{
    background: #F5F5F5 !important;
}
