.alarm-block{
    margin: 0 15px;
    display: flex;
    align-items: center;
    background: #E9F6FF;
    border-radius: 8px;
}

.alarm-block img{
    margin: 15px;
}

.alarm-block p{
    color: #00A3FF;
    font-size: 14px;
}