.input-container, .fee-container{
    display: flex;
    align-items: center;
}
.fee-container{
    margin: 10px 0 0;
    position: absolute;
    right: 20px;
}
.fee-container h5{
    margin: 0;
    color: #9099A3;
}
.fee-amount{
    color: #67A5EB;
    font-size: 15px;
    margin-right: 4px;
    font-family: 'Panton Bold';
}
.max-btn{
    padding: 0px 16px;
    position: absolute;
    width: 60px;
    height: 28px;
    background: #CCD3FF;
    z-index: 10;
    border: none;
    border-radius: 4px;
    right: 30px;
    font-size: 14px;
    color: #5965B3;
    cursor: pointer;
}

.input-container input{
    width: 85%;
    background: transparent;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    height: 40px;
    outline-color: #792EC0;
}

.amount-error-text{
    font-size: 14px;
    line-height: 17px;
    color: #E64646;
    font-family: 'Panton Medium';
}

.fee-container img {
    margin-right: 5px;
}

.error-input{
    border: 1px solid #E64646 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.usd-container{
    margin-top: 5px;
}

.usd-container span{
    color: #9099A3;
    font-size: 14px;
}
.usd-container b{
    color: rgb(112, 170, 233);
    font-size: 14px;
    font-family: 'Panton Medium';
    margin-left: 3px;
}