.fee-info-block{
    background: #F2F7FC;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 20px 15px 15px;
}

.fee-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
}
.fee-row span{
    color: #6F7985;
}
.fee-text{
    color: #28436E !important;
}

.separator{
    border: 1px dashed #A1ACB8;
    border-top: none;
}

.fee-text-bold{
    font-family: 'Panton Bold';
    color: #000 !important;
}

.fee-amount-bold{
    font-family: 'Panton Bold';
    color: #792EC0 !important;
}