.header{
    text-align: center;
    border-bottom: 1px solid #E7E8EC;
}

.header .header-line{
    background: #3C356D;
    border-radius: 12px 12px 0px 0px;
    height: 10px;
    width: 100%;
}
.header-back-row{
    display: flex;
    align-items: center;
    color: #818C99;
    cursor: pointer;
    font-weight: 400;
    position: absolute;
    left: 10px;
}

.header-row{
    display: flex;
    align-items: center;
    justify-content:center;
}

.header p{
    font-size: 17px;
    margin-top: 10px !important;
    font-weight: 500;
    text-transform: capitalize;
}