.number-input{
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    color: black;
    border-radius: 25px;
    font-size: 15px;
    width: 100%;
    padding-left: 25px;
    padding-right: 40px;
    position: relative;
    text-align: center;
    height: 35px;
}

.input-number-container span{
    position: relative;
    right: 38px;
    top: -1px;
    color: #818C99;
}
.procent-symbol{
    right: 29px !important;
}

.input-number-container{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#active-input{
    border: 1px solid #792EC0;
}

#active-input-2{
    border: 1px solid #792EC0;
    background: #F1E2FF;
}

#active-procent{
    background: #792EC0;
    color: #fff;
}
#initial-procent{
    background: #2787F5;
    color: #fff;
}