.min-amount-block{
    display: flex;
    align-items: center;
    background: #F2F7FC;
    border-radius: 8px;
    margin: 0 15px;
    padding: 12px;
    font-size: 16px;
}

.min-text{
    color: #28436E;
}

.min-network{
    color: #9099A3;
}

.min-amount{
    margin: auto 5px;
}