.loading-btn{
    color: #7A8BF6;
}
.swap-anyway-btn{
    background: #DB2561;
}

.swap-btn{   
    background: #792EC0;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 0;
    height: 40px;
    cursor: pointer;
}
.swap-btn:hover{
    background: #54178E;
}


#disabled-btn{
    background: #CCD3FF !important;
    cursor: no-drop !important;
}

.approve-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.approve-lines{
    display: flex;
    align-items: center;
    justify-content: center;
    width:95%;
    margin: -5px auto !important;
    padding: 0;
}
.approve-row .swap-btn{
    width: 50%;
}

.number-circle{
    background: #2787F5;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.solid-line{
    border: 1px solid #2787F5;
    width: 100px;
    margin: 0 15px;
}

#disabled-circle{
    background: #CBD2FE;
}

#disabled-line{
    border: 1px solid #CBD2FE;
}