@font-face {
    font-family: Panton;
    src: url(./panton/Panton.otf);
}
@font-face {
    font-family: 'Panton Bold';
    src: url(./panton/Panton\ Bold.otf);
}
@font-face {
    font-family: 'Panton Medium';
    src: url(./panton/Panton\ SemiBold.otf);
}
body, * {
    font-family: Panton;
}

.vkuiTabs--default .vkuiTabsItem--selected::after{
    background: #792EC0;
}

.vkuiTabsItem--selected .vkuiTabsItem__in{
    font-weight: 700;
    font-family: 'Panton Bold';
}

.vkuiTabs--default .vkuiTabsItem{
    max-width: 30% !important;
}
@media (max-width:500px){
    .vkuiTabs--default .vkuiTabsItem{
        max-width: 40% !important;
    }
}
.back-row{
    display: flex;
    align-items: center;
    color: #818C99;
    cursor: pointer;
    font-family: 'Panton Medium';
    margin-left: 10px;
}