.swap-btn{   
    background: #792EC0;
    border-radius: 4px;
    color: white;
}

.send-fee{
    font-size: 14px;
    line-height: 18px;
    color: #9099A3;
}

.send-amount{
    color: #67A5EB;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Panton Bold';
}

.max-btn{
    padding: 0px 16px;
    position: absolute;
    width: 60px;
    height: 28px;
    background: #CCD3FF;
    z-index: 10;
    border: none;
    border-radius: 4px;
    right: 30px;
    font-size: 14px;
    color: #5965B3;
    cursor: pointer;
}

.input-custom{
    width: 100%;
}

.vkuiInput__el{
    outline-color: #792EC0 !important;
}

.vkuiFormField__border, .FormField__border{
    outline-color: #792EC0 !important;
}