@font-face {
    font-family: Panton;
    src: url(./panton/Panton.otf);
}
@font-face {
    font-family: 'Panton Bold';
    src: url(./panton/Panton\ Bold.otf);
}
@font-face {
    font-family: 'Panton Medium';
    src: url(./panton/Panton\ SemiBold.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body, * {
    font-family: Roboto;
    font-weight: 300;
}
.vkuiSearch *{
    background: none !important;
}

.vkuiSearch {
    border-bottom: 1px solid #E7E8EC;
    margin-bottom: 15px;
}

.vkuiGroup__inner{
    padding-top: 0 !important;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-text{
    margin: 0 20px 15px;
    color: #656565;
    font-weight: 400;
    padding-bottom: 40px;
}
.error-title{
    color: #E64646 !important;
}
.error-btn{
    background: #E64646;
    border-radius: 4px;
    color: white;
    border: none;
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 50px;
    height: 30px;
}
.vkuiModalPage__in-wrap{
    height: auto !important;
    bottom: 60% !important;
}

.vkuiModalPage__in{
    border-radius: 12px;
}