@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body, * {
    font-family: Roboto;
    font-weight: 300;
}
.vkuiSearch *{
    background: none !important;
}

.vkuiSearch {
    border-bottom: 1px solid #E7E8EC;
    margin-bottom: 15px;
}

.vkuiGroup__inner{
    padding-top: 0 !important;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.vkuiModalPage__in{
    border-radius: 12px;
}