.settings-panel p{
    text-align: center;
}
.settings-panel .vkuiGroup__inner{
    box-shadow: none;
}
.add-address-btn{
    background: none;
    border: 1px solid #2A5885;
    color: #2A5885;
    border-radius: 4px;
    display: flex;
    height: 36px;
    cursor: no-drop;
    align-items: center;
    justify-content: center;
    margin: 0 15px 10px;
}
.add-address-btn p {
    color: #2A5885 !important;
    margin: auto 0!important;
}
.procent-btn{
    background: #EBF4FF;
    border-radius: 25px;
    color: #2787F5;
    font-size: 18px;
    width: 25%;
    height: 40px;
    margin-right: 15px;
    border: none;
    font-weight: 500;
}

.settings-panel h4{
    color: #28436E;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}
.procent-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
.settings-panel .vkuiDiv--android{
    padding-right: 0;
}
.settings-panel p{
    color: #000;
    text-align: left;
    line-height: 24px;
    margin: 0 0 10px 0;
    font-size: 16px;
}

#active-procent{
    background: #792EC0;
    color: #fff;
}
#active-procent span{
    color: #818C99;
}

.save-btn{
    background: #792EC0;
    width: 98%;
}

.deadline-input{
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    border-radius: 25px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
    margin-left: 20px;
    position: relative;
}


#active-procent{
    background: #792EC0;
    color: #fff;
}
#initial-procent{
    background: #2787F5;
    color: #fff;
}
#active-procent span{
    color: #818C99;
}

.procent-input{
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    color: black;
    border-radius: 25px;
    font-size: 15px;
    width: 23%;
    position: relative;
    text-align: center;
}

.procent-span{
    position: relative;
    top: 10px;
    color: #818C99;
}

.minute-span{
    position: relative;
    top: 10px;
    color: #818C99;
}