
.swap-container{
    margin-bottom: 160px;
}
#loader{
    margin-bottom: -5px !important;
    margin-right: 10px;
    display: inline-block;
}

.swap-row{
    display: flex;
    align-items: center;
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    border-radius: 6px;
}
.swap-row .token-container{
    width: 32%;
}
.swap-row .amount-container{
    width: 60%;
}
.swap-column{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}
.formTokenItem{
    width: 100%;
    padding: 0;
}
.delimeter{
    border-top: 1px dashed #D3D9DE;
    width: 100%;
}
.formAddressItem{
    width: 95%;
}

.swap-amount-btn{
    border: 1px solid #D3D9DE;
    border-radius: 4px;
    background-color: white;
    width: 50px;
    height: 46px;
}
.swap-block{
    margin-bottom: -20px !important;
}
.swap-amount-btn:hover{
    background-color: #792EC0;
}

.swap-amount-btn:hover svg path{
    fill: white !important;
}

