.swap-btn{   
    background: #792EC0;
    border-radius: 4px;
    color: white;
}
.swap-btn:hover{
    background: #54178E;
}
.swap-container{
    margin-bottom: 160px;
}
.swap-row{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
}

.formTokenItem{
    width: 95%;
}
.delimeter{
    border-top: 1px dashed #D3D9DE;
    width: 100%;
}
.formAddressItem{
    width: 95%;
}

.swap-amount-btn{
    border: 1px solid #D3D9DE;
    border-radius: 4px;
    background-color: white;
    width: 50px;
    height: 50px;
}

.swap-amount-btn:hover{
    background-color: #792EC0;
}

.swap-amount-btn:hover svg path{
    fill: white !important;
}


#disabled-btn{
    background: #CCD3FF !important;
    cursor: no-drop !important;
}