.transaction-type-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Panton Bold';
}

.transaction-details{
    padding: 18px;
}
.transasction-details-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description-text{
    color: #818C99;
}

.transactions-status{
    font-size: 18px;
    font-family: 'Panton Bold';
    color: #4BB34B;
}
.transactions-status-failed{
    font-size: 18px;
    font-family: 'Panton Bold';
    color: #E64646;
}
.transactions-details-fee{
    font-size: 18px;
    font-family: 'Panton Bold';
}

.transaction-details-header{
    text-transform: capitalize;
    text-align: center;
    font-family: 'Panton Medium';
}

.transactions-block{
    margin-bottom: 145px;
}