.transaction-type-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.transaction-details{
    padding: 18px;
}
.transasction-details-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 40px;
}
.transasction-details-row span{
    text-align: right;
}
.description-text{
    color: #818C99;
}

.transactions-status{
    font-size: 18px;
    font-weight: 500;
    color: #4BB34B;
}
.transactions-status-failed{
    font-size: 18px;
    font-weight: 500;
    color: #E64646;
}
.transactions-details-fee{
    font-size: 18px;
    font-weight: 500;
}

.transaction-details-header{
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
}

.transactions-block{
    margin-bottom: 145px;
}

.no-transactions-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.no-transactions-block h3{
    font-weight: 500;
    margin-bottom: 0;
}

.no-transactions-block p{
    font-weight: 300;
    color: #28436E;
    text-align: center;
    width: 70%;
    font-size: 15px;
}

.no-transactions-block img{
    margin: 5% auto 10px;
}

.transactions_disclaimer{
    display: flex;
    background: #FBF6EB;
    border-radius: 4px;
    margin: 15px;
    color: #59779A;
}

.transactions_disclaimer h4{
   margin: 0;
   line-height: 20px;
   font-weight: 500;
}

.transactions_disclaimer p{
    margin: 0;
    line-height: 18px;
    font-weight: 300;
    font-size: 14px;
 }

 .transactions_disclaimer img{
     margin-right: 15px;
 }

 .transactions_disclaimer span{
     color: #FF900D;
 }